.post-item-h1 {
  font-size: 40px;
  color: black;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.item-selectors {
  width: 100%;
  align-items: center;
  padding: 25%;
  padding-top: 50px;
  padding-bottom: 0;
  margin: auto;
  height: 100px;
  background-color: #ffffff;
  color: black;
}
.item-form {
  /* top: 50%; */
  margin: auto;
  align-items: center;
  width: 50%;
  height: 800px;
}
.dropdown-form {
  width: 40%;
  margin: 0 5%;
  /* padding: 5px; */
  border-color: #00796b;
  font-size: 15px;
  font-weight: 500;
  color: #00796b;
}
.top-input {
  margin-top: 20px;
}
.form-input {
  text-align: center;
  width: 30%;
  font-size: 20px;
  color: #00796b;
  border: 1px solid #00796b;
}
.form-input:focus {
  width: 30%;
}

.form-input::placeholder {
  color: #00796b;
}

.form-description {
  display: block;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 0px;
  align-self: center;
  justify-self: center;
  /* text-align: center; */
  padding: 30px 30px;
  font-size: 18px;
  width: 75%;
  color: #00796b;

  border: 1px solid #00796b;
}
.form-description::placeholder {
  color: #00796b;
}
.form-description:focus {
  border: 1px solid #00796b;
  outline: 0;
}
.form-description:focus::placeholder {
  color: #00796b;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.item-form-bttn {
  background-color: white;
  margin: 0 40%;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px 15px;
  color: #009688;
  border-radius: 3px;
  width: 20%;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  border: 1px solid #00796b;
}

.form-image {
  margin: 30px auto;
  margin-bottom: 0;
  font-weight: 700;
  color: #00796b;
  font-size: 20px;
  text-align: center;
}
